# exclude labs
lab

# exclude demos
*/demo

# exclude lects
lects/w03/scheduling
lects/w03/chapter12
#w04
#w05
w06/c

# exclude w11 sudoku's solutions
lects/w11/sudoku*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


